.footer {
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 !important;
  /* padding-top: 10px; */
}

.center {
  text-align: center;
}

.item:hover {
  background-color: orange;
}
